/* Youtube videos */
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    margin-bottom: 24px;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}